//Park
.park {
    background-color:$thirdColor;
    margin:10px;

    img {
        width:100%;
    }

    .parkContent {
        h2 {
            margin:7px;
        }

        p {
            margin:7px;
            padding-bottom:3px;
        }
    }
}