html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  background-color: #005248;
  color: white;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
nav .title {
  margin-right: 10px;
}

.lightBackgroundSection {
  background-color: white;
}
.lightBackgroundSection h1 {
  color: #005248;
}

.darkBackgroundSection {
  background-color: #005248;
  color: white;
}

.lightBackgroundSection, .darkBackgroundSection {
  text-align: center;
  padding: 7px 10vw;
}
.lightBackgroundSection h1, .darkBackgroundSection h1 {
  font-size: 35px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.lightBackgroundSection p, .darkBackgroundSection p {
  font-size: 15px;
}

footer {
  background-color: #CBCB00;
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
}
footer a {
  color: black;
}

.hero img {
  width: 100%;
}

h2 {
  margin-top: 7px;
  margin-bottom: 0px;
}

#scoringH2 + p {
  margin-top: 5px;
}

table {
  background-color: #C3FCF1;
  color: black;
  border-collapse: collapse;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}
table th, table td {
  padding: 5px;
}

table, th, td {
  border: 2px solid black;
}

.recentAudits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recentAudit {
  background-color: #CBCB00;
  margin: 15px;
  padding: 5px 20px;
}
.recentAudit p {
  margin: 10px 0;
}

.auditor {
  display: flex;
}
.auditor img {
  flex-basis: 20%;
  width: 200px;
  border-radius: 50%;
}
.auditor .auditorText {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.auditor .auditorText h3, .auditor .auditorText p {
  margin: 0;
}
.auditor .auditorText h3 {
  font-size: 25px;
}
.auditor #adamText {
  align-items: flex-start;
}
.auditor #brennanText {
  align-items: flex-end;
}

.componentsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.component {
  background-color: #CBCB00;
  margin: 10px;
  padding: 7px 20px;
}
.component p:nth-last-child(3) {
  margin-top: 10px;
}
.component p:nth-last-child(2) {
  margin-top: 20px;
  margin-bottom: 0;
}
.component p:nth-last-child(1) {
  margin-top: 10px;
}

#definitionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#definitionContainer li {
  text-align: left;
}
